# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Python Cache Files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*

# =========================
# Flask Files
# =========================
instance/

# =========================
# IDE Settings
# =========================
.vscode/
.idea/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Log Files
# =========================
*.log